@mixin centerer-xy() {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

@mixin centerer-x() {
	position: absolute;
	left: 50%;
	transform: translate(-50%);
}

@mixin centerer-y() {
	position: absolute;
	top: 50%;
	transform: translate(-50%);
}

// @mixin sprite($sprite) {
//   @include sprite-image($sprite);
//   @include sprite-position($sprite);
//   @include sprite-width($sprite);
//   @include sprite-height($sprite);
// }